<div class="container">
  <div class="row">
    <div class="col-md-8">

      <h4>会員情報編集</h4>
      
      <%= form_with model:@customer, url:customers_path, local:true do |f| %>
        <table class="table table-borderless">
          <tr>
            <td><%= f.label :name, "氏名" %></td>
            <td><%= f.text_field :last_name %></td>
            <td><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td><%= f.label :name_kana, "フリガナ" %></td>
            <td><%= f.text_field :last_name_kana %></td>
            <td><%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <td><%= f.label :postal_code, "郵便番号" %></td>
            <td><%= f.text_field :postal_code %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :address, "住所" %></td>
            <td colspan="2"><%= f.text_field :address, size: 50 %></td>
          </tr>
          <tr>
            <td><%= f.label :telephone_number, "電話番号" %></td>
            <td><%= f.text_field :telephone_number %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td><%= f.email_field :email %></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit '編集内容を保存', class: "btn btn-success text-white" %></td>
            <td><%= link_to "退会する", customers_leave_path, class: "btn btn-danger text-white" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>