<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div id="alert">
        <% if @genre.errors.any? %>
          <p>すべての項目を入力してください</p>
         <% end %>
      </div>
      <h4>ジャンル一覧・追加</h4>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-7">
      <%= form_with model: [:admin, @genre], local:true do |f| %>
        <table class="table table-borderless">
          <tr>
            <td>ジャンル名</td>
            <td><%= f.text_field :name %></td>
            <td><%= f.submit '新規登録', class: "btn btn-success text-white" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success btn-sm text-white" %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>