<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% if @genre.errors.any? %>
    <h3><%= @genre.errors.count %> error prohibited this genre from being saved:</h3>
    <ul>
      <% @genre.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
 <% end %>

<h2>ジャンル一覧・追加</h2>

<%= form_with model: [:admin, @genre], local:true do |f| %>
  <p>ジャンル名</p>
  <%= f.text_field :name %>
  <%= f.submit '新規登録' %>
<% end %>

<table>
  <tr>
    <th>ジャンル</th>
    <th></th>
  </tr>
<% @genres.each do |genre| %>
  <tr>
    <td><%= genre.name %></td>
    <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
  </tr>
<% end %>
</table>